
.container-fluid{
    height: 100px;
    background-color:pink;
}

.col-12{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(73, 73, 73);
    padding-left: 70px;
    padding-bottom: 20px;

}

.content{
    margin-top:120px;
    background-color:white;
    
}



#display{
    text-align: center;
    font-size:20px;
    height: 150px;
    width: 800px;
    margin-left: 65px;
    border-radius: 10px;
    

}

#slider{
    margin-left: 150px;
    width: 800px;
}

#generate{
    background-color:pink;
    color: white;
    margin-left: 170px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 18px;
    font-size: 25px;

}

#copy{
    background-color: darkgray;
    color: white;
    margin-left: 110px;
    padding: 10px;
    border-radius: 18px;
    font-size: 25px;


}

/* Making page responsive */

@media (max-width: 990px){
 
    #display{
        width:500px;
        margin-left: 95px;
        
       
    }

}

@media (max-width: 770px){

    #display{
        width:350px;
       
       
    }


}

